---
layout: default
---
<article id="post" class="page type-page status-publish hentry">
	<div hidden class="author vcard"><a class="fn">Macmillan Films</a></div>
	<div hidden class="updated"> {{ site.time }} </div>
	<header class="entry-header">

		<h1 class="entry-title">{{ page.title }}</h1>
	</header><!-- .entry-header -->

	<div class="entry-content">
		<p>{{ content }}</p>
							</div><!-- .entry-content -->

	<footer class="entry-meta">
							</footer><!-- .entry-meta -->
</article><!-- #post -->

	<div id="tertiary" class="sidebar-container" role="complementary">
		<div class="sidebar-inner">
			<div class="widget-area">
			<aside class="widget">
			<div class="textwidget">

</div><!-- .widget-area -->
		</div><!-- .sidebar-inner -->
	</div><!-- #tertiary -->
